<input type="hidden" value="{{out.prefijo}}" id="prefijo">
<div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card card-wizard" id="wizardCard">
                    <form id="wizardForm" method="" action="">
                        <div class="card-header text-center">
                            <h4 class="card-title jmy_web" 
                                data-t="plantillas_web" 
                                data-a="vistaweb" 
                                data-id="{{out.prefijo}}_titulo"  
                                data-idf="ypk_nuevo_brief" data-ver="on" >...</h4>
                            <p class="category jmy_web" 
                                data-t="plantillas_web" 
                                data-a="vistaweb" 
                                data-id="{{out.prefijo}}_descripcion"  
                                data-idf="ypk_nuevo_brief" data-ver="on" >...</p>
                        </div>
                        <div class="card-content">
                            <ul class="nav">
                                <li><a href="#tab1" data-toggle="tab">Solicitud</a></li>
                                <li><a href="#tab2" data-toggle="tab">Proyecto a desarrollar</a></li>
                                <li><a href="#tab3" data-toggle="tab">Confirmación</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab1">
                                    <h5 class="text-center">Proceso de nuevo brief.</h5>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">Descripción*</label>
                                                <textarea class="form-control nuevo_brief" id="descripcion" placeholder="Escriba aquí los objetivos" rows="3" tabindex="10"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
                                             <div class="form-group">
	                                           <div class="col-sm-10">
												   <div class="checkbox">
													   <input id="cotizacion" type="checkbox" value="si" class="nuevo_brief" tabindex="10">
													   <label for="cotizacion">
														   Solicitar cotización
													   </label>
												   </div>
												   <div class="checkbox">
													   <input id="render" type="checkbox" value="si" class="nuevo_brief" tabindex="11">
													   <label for="render">
														   Solicitar render
													   </label>
												   </div>
	                                           </div>
	                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Cantidad a cotizar
                                                </label>
                                                <input class="form-control" type="text" id="cantidad_a_cotizar" placeholder="1000" tabindex="20">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Fecha
                                                </label>
                                                <input class="form-control nuevo_brief" type="text" id="fecha" placeholder="1000" tabindex="21" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Cliente
                                                </label>
                                                
                                                <select type="select" class="form-control nuevo_brief input-sm btn-mini  jmy_web" 
                                                placeholder="Seleccione un cliente" 
                                                data-lista-id="clientes" 
                                                data-lista-t="clientes" 
                                                data-auto-guardar="no"
                                                data-fn="buscarMarca" 
                                                data-value="" 
                                                data-t="clientes" 
                                                data-a="tpk_ventas" 
                                                data-id="{{out.prefijo}}_cliente"  
                                                data-idf=""
                                                id="cliente" 
                                                tabindex="60" contenteditable="true" tabindex="30"
                                                ></select>                                                    
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-md-offset-1" id="ver_marca">
                                          
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                  Proyecto a desarrollar
                                                </label>
                                                <select id="proyecto_desarrollar" multiple="multiple" class="form-control input-sm btn-mini nuevo_brief" tabindex="40"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Corrugado
                                                </label>
                                                <input class="form-control nuevo_brief" type="text" id="corrugado" placeholder="Tipo de corrugdo a usar" tabindex="41">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Charola
                                                </label>
                                                <input class="form-control nuevo_brief" type="text" id="charola" placeholder="Cantidad por charola" tabindex="42">
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Cotenido y orden *
                                                </label>
                                                 <textarea class="form-control nuevo_brief" placeholder="" id="contenido_y_orden" rows="3" tabindex="43"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Cambios de arte
                                                </label>
                                                 <textarea class="form-control nuevo_brief" placeholder="" id="cambios_arte" rows="3" tabindex="44"></textarea>
                                            </div>
                                        </div>
                                         <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label ">Acabados especiales</label>
                                                <select id="acabados_especiales" multiple="multiple" tabindex="45" class="form-control input-sm btn-mini nuevo_brief" ></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <h2 class="text-center text-space">!Solo un paso más! <br><small>Por favor revisa que los datos sean correctos, si lo es da click en "<b>Guardar</b>" para finalizar</small></h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <table class="table table-striped" id="datos">	                                   
                                                    
                                                </tbody>
                                            </table>
                                            <button id="ver_todo" class="btn btn-block">...</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                   Observciones
                                                </label>
                                                    <textarea class="form-control nuevo_brief" placeholder="Anote aquí sus observciones o peticiones para poder complementar la solicitud de brief" id="observaciones" rows="3" tabindex="43"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-default btn-fill btn-wd btn-back pull-left"><i class="fas fa-angle-left"></i> Regresar</button>
                            <button type="button" class="btn btn-info btn-fill btn-wd btn-next pull-right">Siguiente <i class="fas fa-angle-right"></i></button>
                            <button type="button" class="btn btn-info btn-fill btn-wd btn-finish pull-right" onclick="onFinishWizard()"> <i class="far fa-check-circle"></i> Guardar</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>